<header class="header">
  <div class="header-top">
    <div class="menu-toggle" (click)="toggleMenu()">
      <span class="hamburger"></span>
    </div>
    <div class="horizontal-container">
      <div class="button">
        <a class="get-models" routerLink="/">GET MODELS</a>
      </div>
      <div class="slider"></div>
      <div class="horizontal-container nav desktop-nav">
        <span class="catalog">Catalog</span>
        <span class="browse">Browse</span>
        <span class="faq">FAQ</span>
      </div>
    </div>
    <div class="vertical-container">
      <div class="vertical-container inner">
        <app-user-avatar [avatarUrl]="'assets/images/user-avatar.jpg'" [username]="'Denis 3D'"></app-user-avatar>
      </div>
      <div class="vertical-container button-container">
        <div class="round-button">
          <div class="basket-icon">
            <img src="assets/icons/basket-icon/basket-icon.svg" width="50" height="50" alt="Basket Icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="nav-menu" [class.active]="isMenuOpen">
    <div class="horizontal-container nav">
      <span class="catalog">Catalog</span>
      <span class="browse">Browse</span>
      <span class="faq">FAQ</span>
    </div>
  </nav>
</header>