


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


@font-face {
  font-family: 'CustomFont';
  src: url('/assets/fonts/custom-font.woff2') format('woff2');
}


:root {
  --color-black: #1E1E1E;
  --color-white: #FFFFFF;
  --border-color: rgba(0, 0, 0, 0.1);
}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #FCFCFC;
}

@import '../public/fonts/fonts.css';

@import 'styles/index.scss';



* {
  box-sizing: border-box;
}